<!-- <nz-footer class="text-center">
    Made with <i nz-icon type="heart" nzTheme="fill" style="color:red; font-size: 24px; "></i> by Ayoub Chakri
</nz-footer> -->

<footer>
    <div class="footer-part footer-action wow fadeInDown animated" style="padding-top:30px;">
      
        <div class="container">
            <div class="footer-inset">
                <div class="row">
                    <div class="col-md-3 col-sm-6 col-xs-12">
                        <div class="equal-inset" style="height: 196px;">
                                <img style="box-shadow: 1px 1px 10px 1px #000;
                                border-radius: 50%;" src="assets/images/newlogo5.png" alt="">
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6 col-xs-12">
                        <div class="equal-inset" style="height: 196px;">
                            <h5>Khouloud Restaurant</h5>
                            <p>description du reataurant description courte du reataurant description courte.</p>
                            <div class="social-top">
                                <ul>
                                    <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                    <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                                    <li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                                    <li><a href="#"><i class="fa fa-pinterest" aria-hidden="true"></i></a></li>
                                    <li><a href="#"><i class="fa fa-dribbble" aria-hidden="true"></i></a></li>
                                    <li><a href="#"><i class="fa fa-google" aria-hidden="true"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6 col-xs-12">
                        <div class="equal-inset" style="height: 196px;">
                            <h5>Contact</h5>
                            <p>N 23 Avenu des FARs, wilaya, Tetouan. <a href="1234567890.html">0529456789</a><a href="#">khouloud@restaurant.com</a></p>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6 col-xs-12">
                        <div class="equal-inset" style="height: 196px;">
                            <h5>Horaire</h5>
                            <p>Lundi - Vendredi: ........10am - 11pm
                            <br> Samedi - Dimanche: ........8am - 12pm
                        </div>
                    </div>
                   

                </div>
            </div>
        </div>
        <div class="footer-inset-copyright">
            <div class="container"><span>Copyright © 2019 Restaurant khouloud.</span></div>
        </div>
    </div>
</footer>
