<!-- <nz-content class="nz-content">
    <nz-breadcrumb class="nz-breadcrumb">
        <nz-breadcrumb-item>Home</nz-breadcrumb-item>
    </nz-breadcrumb>
    <div class="page-content"><h1>Welcome Home</h1></div>
  </nz-content> -->

  <main>
    <div class="main-part">
        <!-- Start Slider Part -->
        
        <!-- End Slider Part --> 
        <!-- Start Welcome Part -->
        
        <!-- End Welcome Part -->
        <section class="special-menu banner-bg home-icon invert invert-black wow fadeInDown animated"  data-wow-duration="1000ms" data-wow-delay="300ms" style="visibility: visible; animation-duration: 1000ms; animation-delay: 300ms; animation-name: fadeInDown;">
            
            <div class="container"> 
                <div class="build-title">
                    <h2>Notre Menu spécial</h2>
                    <h6>
                            Essayez avec cette orthographe: On ne saurait trop insister sur le rôle joué par un bon cuisinier dans la préparation d'un repas somptueux, c'est-à-dire un pain blanc à ne pas trop insister sur le rôle d'une bonne cuisine dans la préparation d'un repas somptueux, alors on considère le pain blanc</h6>
                </div>
                <div class="menu-wrapper menu-return">
                    <div class="portfolioFilter">
                        <div class="portfolioFilter-inner">
                            <a href="javascript:;" (click)="showedCat='all'"  class="current"><span><img style="height: 44px;" src="assets/categories/all.png" alt=""></span>All</a>
                            <a href="javascript:;" (click)="showedCat='Tacos'"  ><span><img style="height: 51px;" src="assets/categories/tacos.png" alt=""></span>TACOS</a>
                            <a href="javascript:;"  (click)="showedCat='Pizza'"  ><span><img style="height: 43px;" src="assets/categories/pizza.png" alt=""></span>PIZZA</a>
                            <a href="javascript:;" (click)="showedCat='Tajine'" ><span><img style="height: 39px;" src="assets/categories/tajine.png" alt=""></span>TAJINE</a>
                            <a href="javascript:;"(click)="showedCat='pasta'"  ><span><img style="height: 39px;" src="assets/categories/pasta.png" alt=""></span>PASTA</a>
                            <a href="javascript:;" (click)="showedCat='soupe'"><span><img style="height: 35px;" src="assets/categories/soupe.png" alt=""></span>SOUPE</a>
                        </div>
                    </div>  
                    <div class="portfolioContainer row myhclass">
                        <div *ngFor="let repa of repas" class="col-md-6 col-sm-6 col-xs-12 isotope-item {{ repa.categorie_name }}" >
                            <div  *ngIf="repa.categorie_name == showedCat || showedCat == 'all'" class="menu-list">
                                <a (click)="gotoRepa(repa)">
                                    <span class="menu-list-product">
                                        <img src="assets/categories/{{repa.image}}.png" alt="">
                                    </span>
                                    <h5> {{repa.name}} <span> {{repa.price_unit}} DH</span></h5>
                                    <p> {{repa.description}}</p>
                                </a>
                                

                            </div>
                        </div>
                        
                       
                    </div>
                    <!-- <div class="btn-outer">
                        <a href="#" class="btn-main">Explore Full Menu</a>
                    </div> -->
                </div>
            </div>
            <div class="float-main">
                <div class="icon-top-left">
                    <img src="assets/images/icon7.png" alt="">
                </div>
                <div class="icon-bottom-left">
                    <img src="assets/images/icon8.png" alt="">
                </div>
                <div class="icon-top-right">
                    <img src="assets/images/icon9.png" alt="">
                </div>
                <div class="icon-bottom-right">
                    <img src="assets/images/icon10.png" alt="">
                </div>
            </div>
        </section><!-- Start Dishes Part -->
        <section class="dishes dishes-expand banner-bg home-icon wow fadeInDown animated" data-background="images/banner9.jpg" data-wow-duration="1000ms" data-wow-delay="300ms" style="visibility: visible; animation-duration: 1000ms; animation-delay: 300ms; animation-name: fadeInDown; background-image: url(&quot;images/banner9.jpg&quot;);">
            
            <!-- <div class="container">
                <div class="build-title">
                    <h2>Today Hot Dishes</h2>
                    <h6>The role of a good cook ware in the preparation of a sumptuous meal cannot be over</h6>
                </div>
                <div class="slider multiple-items slick-initialized slick-slider"><button type="button" data-role="none" class="slick-prev slick-arrow" aria-label="Previous" role="button" style="display: block;">Previous</button>
                    <div aria-live="polite" class="slick-list draggable"><div class="slick-track" style="opacity: 1; width: 4560px; transform: translate3d(-1140px, 0px, 0px);" role="listbox"><div class="product-blog slick-slide slick-cloned" data-slick-index="-3" aria-hidden="true" tabindex="-1" style="width: 380px;">
                        <img src="assets/images/product1.png" alt="">
                        <h3>Quattro Formaggi</h3>
                        <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames</p>
                        <del>$ 55.00</del><strong class="txt-default">$ 18.00</strong>
                    </div><div class="product-blog slick-slide slick-cloned" data-slick-index="-2" aria-hidden="true" tabindex="-1" style="width: 380px;">
                        <img src="assets/images/product2.png" alt="">
                        <h3>Vegetarian Pasta</h3>
                        <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames</p>
                        <del>$ 55.00</del><strong class="txt-default">$ 18.00</strong>
                    </div><div class="product-blog slick-slide slick-cloned" data-slick-index="-1" aria-hidden="true" tabindex="-1" style="width: 380px;">
                        <img src="assets/images/product3.png" alt="">
                        <h3>Gluten-Free Pasta</h3>
                        <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames</p>
                        <del>$ 55.00</del><strong class="txt-default">$ 18.00</strong>
                    </div><div class="product-blog slick-slide slick-current slick-active" data-slick-index="0" aria-hidden="false" tabindex="-1" role="option" aria-describedby="slick-slide00" style="width: 380px;">
                        <img src="assets/images/product1.png" alt="">
                        <h3>Quattro Formaggi</h3>
                        <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames</p>
                        <del>$ 55.00</del><strong class="txt-default">$ 18.00</strong>
                    </div><div class="product-blog slick-slide slick-active" data-slick-index="1" aria-hidden="false" tabindex="-1" role="option" aria-describedby="slick-slide01" style="width: 380px;">
                        <img src="assets/images/product2.png" alt="">
                        <h3>Vegetarian Pasta</h3>
                        <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames</p>
                        <del>$ 55.00</del><strong class="txt-default">$ 18.00</strong>
                    </div><div class="product-blog slick-slide slick-active" data-slick-index="2" aria-hidden="false" tabindex="-1" role="option" aria-describedby="slick-slide02" style="width: 380px;">
                        <img src="assets/images/product3.png" alt="">
                        <h3>Gluten-Free Pasta</h3>
                        <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames</p>
                        <del>$ 55.00</del><strong class="txt-default">$ 18.00</strong>
                    </div><div class="product-blog slick-slide" data-slick-index="3" aria-hidden="true" tabindex="-1" role="option" aria-describedby="slick-slide03" style="width: 380px;">
                        <img src="assets/images/product1.png" alt="">
                        <h3>Quattro Formaggi</h3>
                        <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames</p>
                        <del>$ 55.00</del><strong class="txt-default">$ 18.00</strong>
                    </div><div class="product-blog slick-slide" data-slick-index="4" aria-hidden="true" tabindex="-1" role="option" aria-describedby="slick-slide04" style="width: 380px;">
                        <img src="assets/images/product2.png" alt="">
                        <h3>Vegetarian Pasta</h3>
                        <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames</p>
                        <del>$ 55.00</del><strong class="txt-default">$ 18.00</strong>
                    </div><div class="product-blog slick-slide" data-slick-index="5" aria-hidden="true" tabindex="-1" role="option" aria-describedby="slick-slide05" style="width: 380px;">
                        <img src="assets/images/product3.png" alt="">
                        <h3>Gluten-Free Pasta</h3>
                        <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames</p>
                        <del>$ 55.00</del><strong class="txt-default">$ 18.00</strong>
                    </div><div class="product-blog slick-slide slick-cloned" data-slick-index="6" aria-hidden="true" tabindex="-1" style="width: 380px;">
                        <img src="assets/images/product1.png" alt="">
                        <h3>Quattro Formaggi</h3>
                        <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames</p>
                        <del>$ 55.00</del><strong class="txt-default">$ 18.00</strong>
                    </div><div class="product-blog slick-slide slick-cloned" data-slick-index="7" aria-hidden="true" tabindex="-1" style="width: 380px;">
                        <img src="assets/images/product2.png" alt="">
                        <h3>Vegetarian Pasta</h3>
                        <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames</p>
                        <del>$ 55.00</del><strong class="txt-default">$ 18.00</strong>
                    </div><div class="product-blog slick-slide slick-cloned" data-slick-index="8" aria-hidden="true" tabindex="-1" style="width: 380px;">
                        <img src="assets/images/product3.png" alt="">
                        <h3>Gluten-Free Pasta</h3>
                        <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames</p>
                        <del>$ 55.00</del><strong class="txt-default">$ 18.00</strong>
                    </div></div></div>
                    
                    
                    
                    
                    
                <button type="button" data-role="none" class="slick-next slick-arrow" aria-label="Next" role="button" style="display: block;">Next</button></div>
            </div> -->
        </section>
        <!-- End Dishes Part -->
        <!-- Start Menu Part -->
        
        <!-- End Menu Part -->
        <!-- Start Chef -->
        
        <!-- End Chef -->
        <!-- Start Feature Blog -->
        
        <!-- End Feature Blog -->
        <!-- Start Client Say -->
        
        <!-- End Client Say -->
        <!-- Start Feature list -->
        
        <!-- End Feature list -->
        <!-- Start Instagram -->
        
        <!-- End Instagram -->
    </div>
</main>